@page "/dashboard"
@layout MainLayout
@inherits SparkCheck.Shared.SecureBasePage

<h3>Welcome</h3>

<MudContainer MaxWidth="MaxWidth.False" Class="d-flex flex-column min-vh-100">


    <MudSpacer />

    <BottomNavBar />

</MudContainer>


@code {

}