@page "/"
@rendermode InteractiveServer
@layout MainLayout
@inject NavigationManager Navigation

<div class="welcome-screen">
	<MudStack Spacing="5" AlignItems="AlignItems.Center">

		<div class="welcome-logo-container">
			<img src="images/logo.png" alt="SparkCheck logo" class="welcome-logo" />
		</div>

		<MudText Class="welcome-subtitle" Align="Align.Center">
			Find your spark.
		</MudText>


		<MudStack Spacing="2" AlignItems="AlignItems.Center" Class="welcome-button-stack">
			<MudButton Variant="Variant.Filled"
					   Class="primary-button"
					   OnClick="NavigateToPhoneLogin">
				Sign In
			</MudButton>

			<MudButton Variant="Variant.Outlined"
					   Class="secondary-button"
					   OnClick="NavigateToCreateAccount">
				Sign Up
			</MudButton>
		</MudStack>

		<MudText Class="welcome-footer" Align="Align.Center">
			© 2025 SparkCheck | Cortanix™
		</MudText>

	</MudStack>
</div>

@code {
	private void NavigateToPhoneLogin() => Navigation.NavigateTo("/phonelogin");
	private void NavigateToCreateAccount() => Navigation.NavigateTo("/createaccount");
}
