@* MainLayout.razor *@
@using MudBlazor
@using SparkCheck.Services
@inherits LayoutComponentBase
@inject UserService _userService
@inject UserSessionService UserSession
@inject IJSRuntime JS

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout AppBar="false" Class="full-height-layout">

    <MudMainContent>
        <div class="full-height-container">
            @Body
        </div>
    </MudMainContent>

    @if (_renderNavBar) {
        <BottomNavBar />
    }

</MudLayout>

@code {
    private bool _renderNavBar = false;

    protected override void OnParametersSet() {
        _renderNavBar = UserSession.blnIsAuthenticated;
    }
}
