@using MudBlazor
@using SparkCheck.Services
@inherits LayoutComponentBase
@inject UserService _userService
@inject IJSRuntime JS

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<div class="main-layout">
    @Body
</div>

@code {
    
}
