@using MudBlazor
@using SparkCheck.Services
@inherits LayoutComponentBase
@inject UserService _userService
@inject UserSessionService UserSession
@inject IJSRuntime JS

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<div class="layout-container">
    <div class="layout-body">
        @Body
    </div>

    @if (_renderNavBar) {
        <BottomNavBar />
    }
</div>

@code {
    private bool _renderNavBar = false;

    protected override void OnParametersSet() {
        _renderNavBar = UserSession.blnIsAuthenticated;
    }
}
